:root {
    --bluish-purple: rgba(111, 73, 232, 1);
    --thamar-black: rgba(24, 24, 24, 1);
    --stone-cold: rgba(86, 86, 86, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Ubuntu, Inter, Arial, sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }

    body {
        color: black;
        background: white;
    }
}
